name: Workflow for app

on:
 push:
   branches: [ main ]
 pull_request:
   branches: [ main ]

jobs:
    deploy:
      runs-on: ubuntu-latest
      steps:
        - name: checkout
          uses: actions/checkout@v2

        - name: build app
          run:  docker build -t python_app:1.0.0 .
